<div class="container">
    <div class="row">
        <!-- CRAD PARA AGREGAR UNA NUEVA IMAGEN -->
        <div class="col-md-5">
            <div class="card card-body">
                <h4 class="title card-title text-center">AGREGAR IMAGEN</h4>
                <form
                [formGroup]="imagenForm"
                (ngSubmit)="onSubmitUpload()"
                >
                <div class="form-group">
                    <input
                    formControlName="archivo"
                    (change)="onFileChange($event)"
                    type="file"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid': nule.archivo.errors
                    }"
                    />
                    <div
                    *ngIf="nule.archivo.errors"
                    class="invalid-feedback"
                    >
                    <div *ngIf="nule.archivo.errors.required">
                        Seleccione un archivo!
                    </div>
                    </div>
                </div>
                <button
                    class="btn btn-success btn-block"
                >
                Subir Archivo
                </button>
                </form>
            </div>
        </div>
        <!-- CARD PARA VER LAS IMAGENES AGREGADAS  -->
        <div class="col-md-12">
            <div class="row">
            <div
            *ngFor="let item of files; let i = index"
            class="col-md-5"
            style="margin-bottom: 12px;"
            >
            <div
            class="card-header d-flex justify-content-between align-items-center"
            >
            <button
                class="btn btn-danger"
            >
                <i class="fas fa-trash-alt"></i>
            </button>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="http://localhost:5000/{{item.imagen_name}}" alt="Card image cap">
                </div>
            </div>     
        </div>
    </div>
    </div>
</div>
