<!-- LOGIN -->
<div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form (submit)="login()">
          <!-- TITULO PRINCIPAL -->
          <h1 class="h3 mb-3 font-weight-normal"
          style="font-size: 30px; padding-bottom: 10px;"
          >BIENVENIDOS</h1>
          <!-- FORMUARIO INPUT CORREO Y CONTRASEÑA -->
          <div class="form-group">
            <label for="correo">E-mail</label>
            <input type="correo" class="form-control" name="correo" placeholder="Ingrese E-mail" [(ngModel)]="credentials.correo">
          </div>
          <div class="form-group">
            <label for="contraseña">Contraseña</label>
            <input type="password" class="form-control" name="contraseña" placeholder="Ingrese Contraseña" [(ngModel)]="credentials.password">
          </div>
          <!-- BOTON INICIO DE SESIÓN -->
          <button type="submit"
           class="btn btn-md btn-primary btn-block"
           style="background-color: #379dd8; font-size: 15px; border-radius: 8px;"
           >lOGIN</button>
        </form>
      </div>
    </div>
  </div>