<div class="container-background">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <img src="../assets/img/Logo-San-Rafael.jpeg" border="0" width="90" height="90">
      <a class="navbar-brand" style="font-size: 25px; padding-right: 20px;" routerLink="/">CLINICA SAN RAFAEL</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

            <!-- ADMIN IMAGENES-->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <button
            *ngIf="auth.isLoggedIn()"
            class="btn btnImages"
            style="color: white; background-color: #379dd8; border-radius: 7px; font-size: 18px;"
            routerLink="/slider"
          >
            <i class="fas fa-layer-group"> IMAGES</i>
          </button>
        </ul>
      </div>

            <!-- DIV CERRAR SESION Y DATOS PERFIL -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          
          <!-- DATOS USUARIO CUANOD HACE LOGIN -->
          <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" style="font-size: 16px;"
              >{{ auth.getUserDetails()?.nombre }}
              {{ auth.getUserDetails()?.apellido }}</a
            >
          </li>
            <!-- LOGIN-->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li *ngIf="!auth.isLoggedIn()" class="nav-item">
                  <a class="nav-link"
                    style="font-size: 17px; background-color: #379dd8; color: white; border-radius: 8px;"
                    routerLink="/login" 
                    href="#"
                    >LOGIN</a>
                </li>
                <!-- REGISTRARSE -->
                <li class="nav-item" *ngIf="!auth.isLoggedIn()">
                  <a class="nav-link"
                    href="#"
                    style="font-size: 17px; background-color: RGB(88, 45, 96); color: white; border-radius: 8px;"
                    routerLink="/register"
                    >Register</a>
                </li>
            </ul>
          </div>
          <!-- CERRAR SESIÓN -->
          <li class="nav-item active" *ngIf="auth.isLoggedIn()">
            <a class="nav-link"
              href="#"
              routerLink="" 
              (click)="logout()"
              style="font-size: 17px; background-color: RGB(88, 45, 96); color: white; border-radius: 8px;"
              >LOGOUT</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="col-md-12 container">
    <router-outlet ></router-outlet>
  </div>
  <!-- FOOTER -->
  <div style="padding-top: 30px;">
    <app-footer></app-footer>
  </div>
</div>