.row{
    /* align-items: center; */
    justify-content: center;
    padding-top: 25px;
}
.boton{
    padding-bottom: 1px;
}

.btn{
    background-color: #379dd8;
    color: white;
}

.title{
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: #582e61;
}