<!-- CONATINER SLIDER FOTOS -->
<div class="container">
    <div class="row" >
        <!-- DIVISION BOOSTRAP RESPONSIVE COLUMNAS -->
        <div class="col-md-10">
              <!-- DIV PARA BOTON AGREGAR UNA NUEVA IMAGEN-->
            <div class="boton col-md-4">
                <button
                class="btn btn-md"
                routerLink="/addImage"
                >
                <i class="fas fa-plus-circle mr-4"> Agregar Imagen</i>
                </button>
            </div>
            <!-- FIN DIV BOTON AGREGAR IMAGENES -->
            <div calss="col-md-12">
                <h1 class="title">SLIDER IMAGENES</h1>
            </div>
            <!-- CAROUSEL BOOTSTRAP-ANGULAR NGB -->
            <ngb-carousel *ngIf="images">
                <ng-template ngbSlide *ngFor="let item of files">
                  <div class="picsum-img-wrapper">
                    <img src="http://localhost:5000/{{item.imagen_name}}" alt="Random first slide">
                  </div>
                </ng-template>
              </ngb-carousel>
              <!-- FIN CAROUSEL -->
        </div>
        <!-- FIN COLUMNAS MD -->
    </div>
    <!-- FIN ROW -->
</div>
<!-- FIN CONTAINER -->

