<div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <!-- FORMULARIO PARA REGISTRAR -->
        <form [formGroup]="datos" (ngSubmit)="onSubmit()">
          <h2 class="h3 mb-3 font-weight-normal" style="font-size: 30px; padding-bottom: 10px;">Registro</h2>
          <!-- INPUT NOMBRE -->
          <div class="form-group">
            <label for="name">Nombres</label>
            <input formControlName="nombres" type="text" class="form-control" name="nombre" placeholder="Ingrese su Nombre" 
                  [(ngModel)]="credentials.nombre"
                  [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }">
            <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
              <div *ngIf="f.nombres.errors.required">Este campo es obligatorio!</div>
            </div>
          </div>
          <!-- INPUT APELLIDOS -->
          <div class="form-group">
            <label for="name">Apellidos</label>
            <input formControlName="apellidos" type="text" class="form-control" name="apellido" placeholder="Ingrese su Apellido"
                  [(ngModel)]="credentials.apellido"
                  [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }">
            <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
              <div *ngIf="f.apellidos.errors.required">Este campo es obligatorio!</div>
            </div>
          </div>
          <!-- INPUT EMAIL -->
          <div class="form-group">
            <label for="email">E-Mail</label>
            <input formControlName="email" type="email" class="form-control" name="correo" placeholder="Ingrese su E-Mail"
                  [(ngModel)]="credentials.correo"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">El email es obligatorio</div>
              <div *ngIf="f.email.errors.email">Por favor, ingresa tu Email</div>
            </div>
          </div>
          <!-- INPUT CONTRASEÑA -->
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input formControlName="password" type="password" class="form-control" name="password" placeholder="Ingrese su Contraseña" 
                  [(ngModel)]="credentials.password"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">la contraseña debe tener minimo 8 caracteres!</div>
            </div>
          </div>
          <!-- BOTON FUNCION REGISTRAR -->
          <button 
          type="submit"
          class="btn btn-md btn-primary btn-block"
          style="background-color: #379dd8; font-size: 15px; border-radius: 8px;"
          >Registrarse!</button>
        </form>
      </div>
    </div>
  </div>